<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ebay</title>
</head>
<body>

    <h1>ebay</h1>
    <br>
    <bold><h2>Description</h2></bold>
    <strong>ebay is the best website that you can find on the internet for buying and selling your desired stuff</strong>
    <img src="static/football.avif">
    <br>
    <strong>DESCRIPTION: hybrid football size 5 with the snow white color available</strong>
    <center><img src="https://upload.wikimedia.org/wikipedia/commons/7/7a/Basketball.png"></center>
    <br>
    <center><strong>DESCRIPTION: a basketball for everyday use</strong></center>


</body>
</html>