<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product</title>
</head>
<body>

    <mark><center><h1 style="background-color: green; font-size: 40px;">WELCOME TO PRODUCT PAGE!!</h1></center></mark>
    <br>
    <bold><h2 style="font-size: 35px">Description:-</h2></bold>
    <strong style="font-size: 25px;">The Product Page gives you more information about the product you are willing to buy</strong>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    <div class="container-fluid">
    
    <div class="card"style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;">
      <!--<div class="col-sm-4">--><img src="static/Basketball.png" alt="Denim Jeans" width="100%" >
      <br>
    <br>
      <!--<div class="col-sm-4" style="border-style: solid">-->
    
    <strong style="color: grey;
  font-size: 22px;">Price: 20$</strong>
    <br>
    <h3>Color: brown with black stripes</h3>
 
      
    
      <!--<div class="col-sm-4" style="border-style : solid">-->
    <h3>DESCRIPTION: The best offer that you can get for an original basketball, and it comes with a free shipping service
    </h3>  
   
 
    </div>
    </div>

    <br>
    <br>

    <center><button id ="cart" onclick.src="location.href='/cart'" style="border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;">Add to Cart</button></center>

  <br>
  <br>

    <center><button id ="home" onclick="location.href='/'" style="border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: blue;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;">Home Page</button></center>

    <script type="text/javascript">

    document.getElementByID("home").onclick = function hi(){
        location.href = "templates/home.html"
    }

    document.getElementByID("cart").onclick = function hello(){
        location.href = "templates/cart.html"
    }

    hi()
    hello()

    </script>

</body>





</html>