<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product</title>
</head>
<body>

    <mark><center><h1 style="background-color: green;">WELCOME TO PRODUCT PAGE!!</h1></center></mark>
    <br>
    <bold><h2 style="font-size: 40px">Description:-</h2></bold>
    <strong style="font-size: 25px;">The Product Page gives you more information about the product you are willing to buy</strong>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    <div class="container-fluid">
    
    <div class="card"style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;">
      <!--<div class="col-sm-4">--><img src="static/football.avif" alt="Denim Jeans" width="100%" >
      <br>
    <br>
      <!--<div class="col-sm-4" style="border-style: solid">-->
    
    <strong style="color: grey;
  font-size: 22px;">Price: 15$</strong>
    <br>
    <h3>Color: snow white</h3>
 
      
    
      <!--<div class="col-sm-4" style="border-style : solid">-->
    <h3>DESCRIPTION: The best offer that you can get for an original football, and it comes with a free shipping service
    </h3>  
   
 
    </div>
    </div>

    <br>
    <br>

    <center><button id ="home" onclick.src="location.href='home.html'" style="border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;">Home Page</button></center>

<script type="text/javascript">
    document.getElementByID("home").onclick = function{
        location.href = "home.html"
    }
</script>

</body>

</html>